.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type='text'] {
  background-color: white;
  color: #827ffe;
  font-size: 16px;
  margin-bottom: 20px;
  border: none;
  width: 85%;
  padding: 20px 30px;
  border-radius: 3px;
}


input[type='password']:hover,input[type='text']:hover{
  background-color: rgb(158, 157, 157);
  color: white;
}

input[type='password'] {
  background-color: white;
  padding: 20px 30px;
  color: #827ffe;
  border: none;
  width: 85%;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 3px;
}

input[type='submit'] {
  padding: 15px 0px;
  background-color: #0d0ada;
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
  width: 100%;
  border-radius: 3px;
}

input[type='submit']:hover{
  background-color: #827ffe;
}

.check {
  font-size: 16px;
}